:root {
    --primary: #00897b;
  }

* {
    font-family: Garamond, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    overflow: scroll;
    scroll-behavior: smooth;
}

.parent {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.container {
    di
}

.heading-center {
text-align: center;
}

.heading-left {
    text-align: left;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav {
    display: flex;
  }
  @media (max-width: 767px) {
  nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
  
