* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: red;
}

.name {
    justify-content: flex-start;
    background-color: purple;
}

.nav-bar {
    justify-content: right;
    background-color: brown;
}

.banner {
    display: flex;
    background-color: green;
    justify-content: space-between;
}

.pic {
    background-color:cyan;
    }

.subtitle {
    background-color: yellow;
    justify-self: right;

}

main {
    flex-direction: column;
    background-color: blue;
    flex-wrap: wrap;
}
 .about-me {
    display: flex;
    background-color: darkred;
    justify-content: space-between;
 }

 .about-me-content {
    background-color: aquamarine;
 }

 .work {
    display: flex;
    background-color: chocolate;
    justify-content:space-between;
 }

 .projects {
    background-color: azure;
 }
 
 .large-project {
    background-color: burlywood;
 }
 .small-project {
    background-color: darksalmon;
 }
 .project-title {
    background-color: rgb(169, 125, 210);
 }

.contact {
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
}
.contact-info {
    display: flex;
    flex-flow: wrap row;
    background-color: lightgreen;
    justify-content: space-around;
}

main section p {
    justify-content: center;
    background-color: rgb(23, 23, 243);
}

.left-titles {
    background-color: orange;
    justify-content: space-around;
    flex-basis: 25%;

}
.right-border {
    border-right: 5px solid ;
}
